<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product List</title>
    </head>
    <style>
        #leftbox {
            float: left;
            width: 33%;
        }

        #middlebox {
            float: left;
            width: 34%;
        }

        #rightbox {
            float: right;
            width: 33%;
        }
    </style>

    <body>
        <h1>Products List</h1>
        <hr>
        <Table border=2px bgcolor="white" height=100 width=1500px>
            <tr align="center">
                <th width="33%">
                    <a href="/product/groceries">
                        Groceries
                    </a>
                </th>
                <th width="34%">
                    <a href="/product/clothing">
                        Clothing
                    </a>
                </th>
                <th width="33%">
                    <a href="/product/electronics">
                        Electronics
                    </a>
                </th>
            </tr>
        </Table>
        <hr>
        <div id="leftbox">
            <ul>
                <% var products=[ { id: 1, name: 'Deal 1' , price: '$100' , description: 'This is the first product' }, { id:
                    2, name: 'Deal 2' , price: '$200' , description: 'This is the second product' }, { id: 3,
                        name: 'Deal 3' , price: '$300' , description: 'This is the third product' } ]; %>
                <% products.forEach(function(product) { %>
                    <li>
                        <a href="/deals">
                            <h3>
                                <%= product.name %>
                            </h3>
                        </a>
                        <p>
                            <%= product.price %>
                        </p>
                        <p>
                            <%= product.description %>
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div id="middlebox">
            <ul>
                <% var products=[ { id: 1, name: 'Deal 1' , price: '$100' , description: 'This is the first product' }, { id:
                    2, name: 'Deal 2' , price: '$200' , description: 'This is the second product' }, { id: 3,
                        name: 'Deal 3' , price: '$300' , description: 'This is the third product' } ]; %>
                <% products.forEach(function(product) { %>
                    <li>
                        <a href="/deals">
                            <h3>
                                <%= product.name %>
                            </h3>
                        </a>
                        <p>
                            <%= product.price %>
                        </p>
                        <p>
                            <%= product.description %>
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div id="rightbox">
            <ul>
                <% var products=[ { id: 1, name: 'Deal 1' , price: '$100' , description: 'This is the first product' }, { id:
                    2, name: 'Deal 2' , price: '$200' , description: 'This is the second product' }, { id: 3,
                        name: 'Deal 3' , price: '$300' , description: 'This is the third product' } ]; %>
                <% products.forEach(function(product) { %>
                    <li>
                        <a href="/deals">
                            <h3>
                                <%= product.name %>
                            </h3>
                        </a>
                        <p>
                            <%= product.price %>
                        </p>
                        <p>
                            <%= product.description %>
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </body>

</html>