<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <% if(product.length > 0){ %>
        <% product.forEach( product => { %>
            <h1 class = "productName" ><%= product.ProductName %></h1>
            <p>Product Type: <%= product.ProductType %></p>
            <p>Description: <%= product.Description %></p>
            <% if(product.CompanyName != null){ %>
                <p>Company: <%= product.CompanyName %></p>
            <% } %>
            <p>Cost: <%= product.Price %></p>
            <% if(product.DealID != null){ %>
                <p>Deal ID: <%= product.DealID %></p>
            <% }else{ %>
                <p>No deals on this product currently.</p>
            <% } %>
        <% }) %>
    <% }else { %>
        <p>No products</p>
    <% } %>
</body>



</html>