<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <% if(product.length > 0){ %>
        <% product.forEach( product => { %>
            <p>Produc Type: <%= product.ProductType %></p>
            <p>Description: <%= product.Description %></p>
            <p>Company: <%= product.CompanyName %></p>
            <p>Cost: <%= product.Price %></p>
            <% if(product.DealID != null){ %>
                <p>Deal ID: <%= product.DealID %></p>
            <% }else{ %>
                <p>No deal</p>
            <% } %>
        <% }) %>
    <% }else { %>
        <p>No products</p>
    <% } %>
</body>



</html>