<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wishlist</title>
</head>
<body>
    <h1>Your Wishlist : </h1>
    <ul>
        <% var products=[ { id: 1, name: 'Product 1' , price: '$100' , description: 'This is the first product' }, { id:
            2, name: 'Product 2' , price: '$200' , description: 'This is the second product' }, { id: 3,
            name: 'Product 3' , price: '$300' , description: 'This is the third product' } ]; %>
        <% products.forEach(function(product) { %>
            <li>
                <h3>
                    <%= product.name %>
                </h3>
                <p>
                    <%= product.price %>
                </p>
                <p>
                    <%= product.description %>
                </p>
                <button>
                    <a href="http://localhost:3000/products/<%= product.id %>">
                        View Product
                    </a>
                </button>
                <button>
                    <a href="http://localhost:3000/wishlist/<%= product.id %>">
                        Remove from Wishlist
                    </a>
                </button>
            </li>
            <% }); %>
    </ul>
</body>
</html>